body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}
.form {
  display: flex;
  flex-direction: column;
}

.input-number {
  width: 20vw;
  border-radius: 5px;
  background-color: rgb(202, 199, 199);
}
.btn {
  margin-top: 5px;
  width: 5vw;
  height: 8vh;
  border: 0px;
  border-radius: 5px;
  background-color: lightseagreen;
  color: white;
}

.clue {
  width: fit-content;
  border: 2px solid rgb(216, 215, 215);
}

.attempt {
  width: fit-content;
  border: 2px solid rgb(216, 215, 215);
}

/*.js-btn {
  width: 80px;
  height: 30px;
  border: 0;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: lightseagreen;
  font-family: 'RobotoSlab';
  font-size: 18px;
  color: #ffffff;
}*/
